body{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: sans-serif, Arial;
    display: flex; font-weight: bold;

    align-items: center;
    flex-direction: column;
}

h1{
font-size: 3rem;
color: rgb(65, 218, 157);
font-family: fantasy;

}
.options{
    padding-bottom :30px;
}
.options button{
font-size: 7.5rem;
min-width: 160px;
margin-bottom: 10px;
border-radius: 800px;
margin: 0 10px;
background-color:hsl(200, 100%, 50%);

}
.options button:hover {
    background-color: rgb(27, 130, 255);
    transition: ease-in 0.2s;
    border-color: rgb(72, 0, 255);
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgb(0, 255, 255); /* Add this line to create a glowing effect */
}

.winText {
  color: rgb(45, 255, 87);
}

.loseText {
  color: red;
}

.tieText {
  color: black;
}
#playerDisplay, #computerDisplay {
    font-size: 2.5rem;
    color: grey;
}
#resultDisplay{
    font-size: 3rem;
    align-items: center;
    padding-top: 30px;
    
}